
.movies-grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr); 
    gap: 20px;
    padding: 20px;
}
.movie-card {
    width: 250px; 
    height: 510px; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    text-align: left;
}
.movie-year-genre{
    color: rgb(141, 141, 141);
}
.movie-card:hover {
    transform: scale(1.05);
}

.movie-image img {
    width: 100%; 
    height: 400px;
    object-fit: cover; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    border-radius: 10px;
}


.movie-details {
    padding: 20px;
}

.movie-details p {
    margin: 5px 0;
    color: #555;
}

.row {
    display: flex;
    gap: 1px;
    justify-content: center;
}

body {
    background-color: #0b0b12;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: whitesmoke;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

div {
    color: whitesmoke;
}

#screen {
   height: 5px;
   background-color: rgb(72, 72, 76);
   margin-top: 15px;
   margin-bottom: 5px;
   border-top-left-radius: 10px;
border-top-right-radius: 10px;

}
.seat {
    background-color: rgb(72, 72, 76);
    height: 13px;
    width: 15px;
    margin: 3px;
    border-radius: 3px;
}

.seat.selected {
    background-color: aqua;
}

.seat.occupied {
    background-color: rgb(231, 224, 224);
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(3) {
    margin-right: 18px;
}

.seat:not(.occupied):hover {
    transform: scale(1.2);
    cursor: pointer;
    border:1px solid aqua;
}
.schedule {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.language {
    display: flex;
    gap: 10px;
    border: 1px solid #4f4f4f;
    padding: 8px;
    text-align: center;
    margin: 5px;
    width: 100px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(36, 35, 45);
    cursor: pointer;
    pointer-events: auto;
}
button.timeButton {
    margin: 5px;
    border: 1px solid #4f4f4f;
    padding: 10px;
    text-align: center;
    height: 60px;
    width: 70px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(36, 35, 45);
    cursor: pointer;
    pointer-events: auto;
    color: whitesmoke;
    font-size: 1.1em;
}
.language.selected {
    border-color: #accae9;
    transform: scale(1.1);
}


.date-box {
    border: 1px solid #4f4f4f;
    padding: 10px;
    text-align: center;
    width: 100px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(36, 35, 45);
    cursor: pointer;
    pointer-events: auto;
}

.date-box .date {
    font-size: 1.5em;
    font-weight: bold;
}

.date-box .weekday,
.date-box .month {
    font-size: 1em;
    color: #757575;
}

.date-box.selected {
    border-color: #accae9;
    transform: scale(1.1);
}
